
        body
        {
            margin: 0px;
            background-color:none;
        }
        .button
        {
            background-color: black;
            color: white;
            width: 70px;
            padding:5px 0px;
            text-align: center;
            cursor: pointer;
            margin-top: 10PX;
            display:none;
            
        }
        .mySlide1
        {
            background-color: #e4f2fd;
            width:1000px;
            border:1px solid;
            overflow: hidden;
        }
        .choose-option
        {
            width: auto;
            padding: 5px 30px;
            height: 50px;
            border: 1px solid black;
            background-color:darkcyan;
            display: inline-block;
            margin-left: 200px;
            border-radius: 30px;
            text-align: center;
            margin-top: 100px;
            cursor: pointer;
        }
        iframe
        {
            border:none;
        }
        h1
        {
            text-align: center;
        }
        .main-section
        {
            margin-left:calc(50% - 500px);
        }
 